@page
@model AuthNetRazor.Areas.AuthNet.Pages.Account.ExternalLoginModel
@{
    ViewData["Title"] = "External login";
}

<h1>External login</h1>

@if (!string.IsNullOrWhiteSpace(Model.ErrorMessage))
{
    <div class="alert alert-danger">@Model.ErrorMessage</div>
}
