@page
@model AuthNetRazor.Areas.AuthNet.Pages.Admin.Roles.CreateModel
@{
    ViewData["Title"] = "Create role";
}

<partial name="_AuthNetBrand" />

<h1>Create role</h1>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="Input.Name" class="form-label"></label>
        <input asp-for="Input.Name" class="form-control" />
        <span asp-validation-for="Input.Name" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Create role</button>
    <a asp-page="./Index" class="btn btn-link">Cancel</a>
</form>

<partial name="_ValidationScriptsPartial" />
